<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} // {% endif %}MongoMapper</title>

    <link href="/atom.xml" rel="alternate" type="application/atom+xml" title="MongoMapper Blog">
    <link href="/stylesheets/mongomapper.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/syntax.css" rel="stylesheet" type="text/css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.strftime.js" type="text/javascript"></script>
    <script src="/javascripts/github.js" type="text/javascript"></script>
    <script src="/javascripts/app.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="wrapper">
      <header>
        <h1><a href="/">Mongo Mapper</a></h1>
      </header>
      <nav>
        <ul id="nav">
          <li id="nav-blog"><a href="/blog/">Blog</a></li>
          <li id="nav-frequent-questions"><a href="/frequent-questions/">Frequent Questions</a></li>
          <li id="nav-documentation"><a href="/documentation/">Documentation</a></li>
        </ul>
      </nav>
