<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try {
    var pageTracker = _gat._getTracker("UA-85301-27");
    pageTracker._trackPageview();
  } catch(err) {}
</script>

<script type="text/javascript">
  (function() {
    var t = document.createElement('script');
    t.type = 'text/javascript'; t.async = true;
    t.id = 'gauges-tracker';
    t.setAttribute('data-site-id',
                   '4d58a6da81dd2a7caa000003');
    t.src = 'http://gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
