{% include header.html %}

<section>
  <h1>{{ page.title }}</h1>
  {{ content }}
</section>
<aside>
  <ul id="nav-secondary">
    <li><a href="/documentation/getting-started/">Getting Started</a>
      <ul>
        <li><a href="/documentation/getting-started/rails.html">Rails</a></li>
        <li><a href="/documentation/getting-started/console.html">Console</a></li>
      </ul>
    </li>
    <li><a href="/documentation/document/">Document</a></li>
    <li><a href="/documentation/embedded-document.html">EmbeddedDocument</a></li>
    <li><a href="/documentation/plugins/">Plugins</a>
      <ul>
        <li><a href="/documentation/plugins/accessible.html">Accessible</a></li>
        <li><a href="/documentation/plugins/associations.html">Associations</a></li>
        <li><a href="/documentation/plugins/callbacks.html">Callbacks</a></li>
        <li><a href="/documentation/plugins/dirty.html">Dirty</a></li>
        <li><a href="/documentation/plugins/dynamic-querying.html">Dynamic Querying</a></li>
        <li><a href="/documentation/plugins/identity-map.html">Identity Map</a></li>
        <li><a href="/documentation/plugins/indexes.html">Indexes</a></li>
        <li><a href="/documentation/plugins/keys.html">Keys</a></li>
        <li><a href="/documentation/plugins/protected.html">Protected</a></li>
        <li><a href="/documentation/plugins/querying.html">Querying</a></li>
        <li><a href="/documentation/plugins/safe.html">Safe</a></li>
        <li><a href="/documentation/plugins/scopes.html">Scopes</a></li>
        <li><a href="/documentation/plugins/single-collection-inheritance.html">Single Collection Inheritance</a></li>
        <li><a href="/documentation/plugins/timestamps.html">Timestamps</a></li>
        <li><a href="/documentation/plugins/validations.html">Validations</a></li>
      </ul>
    </li>
    <li><a href="/documentation/types.html">Types</a></li>
    <li><a href="/documentation/exceptions.html">Exceptions</a></li>
  </ul>
</aside>

{% include footer.html %}
